<p>Who has bet on what already?</p>

<h2>Euro 2012 champion: who will win the championship?</h2>
<table class="winnerCandidates">
	<thead>
		<tr>
			<!-- BEGIN: group -->
			<th>Group {group}</th>
			<!-- END: group -->
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN: teamLine -->
		<tr>
			<!-- BEGIN: team -->
			<td style="{betStyle}">
				<span class="flag {team.id}">{team.name}</span>
				<span style="float: right;">{betsOnTeam}</span>
			</td>
			<!-- END: team -->
		</tr>
		<!-- END: teamLine -->
	</tbody>
</table>

<p>
	{championBetSummary}
	<a onclick="page.templates.allBets.toggle(this, 'championBetsDetails'); return false;" href="">Show details</a>
</p>
<table id="championBetsDetails" style="display: none;">
<!-- BEGIN: championBet -->
	<tr>
		<td>{user}:</td>
		<td>
			<!-- BEGIN: noBetYet -->did not bet yet<!-- END: noBetYet -->
			<!-- BEGIN: hasBet --><span class="flag {team.id}">{team.name}</span><!-- END: hasBet -->
		</td>
	</tr>
<!-- END: championBet -->
</table>


<h2>Quarter finals results</h2>
<table class="winnerCandidates">
	<thead>
		<tr>
			<!-- BEGIN: quarterFinal -->
			<th>Quarter Final {qfNum}</th>
			<!-- END: quarterFinal -->
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN: teamLineQ -->
		<tr>
			<!-- BEGIN: teamQ -->
			<td style="{betStyle}" title="{listUsers}">
				<span class="flag {team.id}">{team.name}</span>
				<span style="float: right;">{betsOnTeam}</span>
			</td>
			<!-- END: teamQ -->
		</tr>
		<!-- END: teamLineQ -->
	</tbody>
</table>
