<h2>Bet on champion: who will win the championship?</h2>
<p>
	Your bet:
	<!-- BEGIN: notLogged -->please <a href="#login,bet" onclick="page.select(this, event);">login</a> to place your bet<!-- END: notLogged -->
	<!-- BEGIN: noCBetYet -->you did not bet yet<!-- END: noCBetYet -->
	<!-- BEGIN: yourCBet --><span class="flag {team.id}">{team.name}</span><!-- END: yourCBet -->
	<span class="bet-tagline">Bet on the final winner!</span>
</p>
<table class="winnerCandidates {selectableClass}">
	<tbody>
		<!-- BEGIN: group -->
		<tr>
			<th>Group {group}</th>
			<!-- BEGIN: team -->
			<td title="Bet on {team.name} for champion!" style="position: relative; {betStyle}"
			    onclick="page.bet.betOnChampion('{team.id}')">
				<span class="flag {team.id}">{team.name}</span>
				<!-- BEGIN: badge -->
				<div class="badge" title="{betters}">{betsOnTeam}</div>
				<!-- END: badge -->
			</td>
			<!-- END: team -->
		</tr>
		<!-- END: group -->
	</tbody>
</table>
