<h2>Bet on champion: who will win the championship?</h2>
<p>
	Your bet:
	<!-- BEGIN: notLogged -->please <a href="#login,bet" onclick="page.select(this, event);">login</a> to place your bet<!-- END: notLogged -->
	<!-- BEGIN: noCBetYet -->you did not bet yet<!-- END: noCBetYet -->
	<!-- BEGIN: yourCBet --><span class="flag {team.id}">{team.name}</span><!-- END: yourCBet -->
	<span class="bet-tagline">Bet on the final winner!</span>
</p>
<table class="winnerCandidates {selectableClass}">
	<tbody>
		<!-- BEGIN: group -->
		<tr>
			<th>Group {group}</th>
			<!-- BEGIN: team -->
			<td title="Bet on {team.name} for champion!" style="position: relative; {betStyle}"
			    onclick="page.bet.betOnChampion('{team.id}')">
				<span class="flag {team.id}">{team.name}</span>
				<!-- BEGIN: badge -->
				<div class="badge" title="{betters}">{betsOnTeam}</div>
				<!-- END: badge -->
			</td>
			<!-- END: team -->
		</tr>
		<!-- END: group -->
	</tbody>
</table>

<h2>Bet on match result</h2>
<table class="schedule matchBet">
<thead>
	<tr>
		<th>Time</th>
		<th></th>
		<th colspan="3">Match</th>
		<th style="text-align: left;">Stadium</th>
	</tr>
</thead>

<!-- BEGIN: phase -->
<tbody>
	<tr>
		<th colspan="7">{phase}</th>
	</tr>
	<!-- BEGIN: day -->
	<tr class="subtitle">
		<td colspan="7">{day}</td>
	</tr>
	
	<!-- BEGIN: match -->
	<tr class="{row_class}">
		<td class="time">{match.hour}</td>
		<td class="group">{match.id}</td>
		<td class="team left {bet1Class}"
		    <!-- BEGIN: bet1 -->title="Bet on {team1.name}!" onclick="page.bet.betOnMatchWinner('{match.id}', '{match.team1_id}')"<!-- END: bet1 -->
		    >
			<span class="flag {match.team1_id}">{team1.name}</span>
			<!-- BEGIN: badge1 -->
			<div class="badge" title="{betters}">{betsOnTeam}</div>
			<!-- END: badge1 -->
		</td>
		<td class="score">{match.team1_score} - {match.team2_score}{PSO}</td>
		<td class="team {bet2Class}"
		    <!-- BEGIN: bet2 -->title="Bet on {team2.name}!" onclick="page.bet.betOnMatchWinner('{match.id}', '{match.team2_id}')"<!-- END: bet2 -->
		    >
			<span class="flag {match.team2_id}">{team2.name}</span>
			<!-- BEGIN: badge2 -->
			<div class="badge" title="{betters}">{betsOnTeam}</div>
			<!-- END: badge2 -->
		</td>
		<td>{stadium.city}</td>
	</tr>
	<!-- END: match -->
	<!-- END: day -->
</tbody>
<!-- END: phase -->
</table>
