@import url(css/main.css);
@import url(admin/templates/list.css);

#header {
	height: 48px;
}
#header h1 {
	margin-right: 62px;
}
#logo {
	background-image: url(img/admin/wand.png);
	height: 48px;
	width: 48px;
}
#contents {
  margin: 0 auto;
  padding: 0;
  background-color: inherit;
  border-radius: 0;
}
