# Sample .env file: update the values and rename as .env to start the containers

# MongoDB configuration
MONGO_USER=user
MONGO_PWD=password

# Cookie seed for session management
COOKIE_SEED=There can be only two: an Apprentice and a Master.

# Google keys for OAuth2 sign-in
# These can be found in the Google API console web interface (section Client ID for installed Application)
# https://code.google.com/apis/console
AUTH_CLIENT_ID=xxxxxxxxxxxx.apps.googleusercontent.com
AUTH_CLIENT_SECRET=xxxxxxxx_xxxxxxxxxxxxxxx
AUTH_REDIRECT_URL=/api/auth/callback
