/***[Login/Register]********/
.login fieldset {
	border: 1px solid #AAAAAA;
	padding: 10px;
	margin: 0;
}
.login fieldset input[type='text'],
.login fieldset input[type='password'] {
	font-size: 170%;
	margin-bottom: 8px;
	width: 47%;
}
.login p {
	margin: 0 0 10px;
}
.login div {
	clear: both;
}
.login div.submit {
	margin-top: 8px;
	text-align: right;
}
.login div.submit a {
	float: left;
	margin-top: 5px;
}
.login div.submit input {
	background-color: #EEEEEE;
	border: 1px outset #CCCCCC;
	color: #222222;
	padding: 1px 5px;
}
.login input.error {
	outline: 2px solid #9C0000;
}

#social-signin {
	margin-bottom: 1em;
}
#social-signin .signin-google {
	background: url('img/signin/Red-signin_Long_base_44dp.png') 0 0 no-repeat;
	display: block;
	width: 246px;
	height: 54px;
	margin: -1px auto;
}
#social-signin .signin-google:hover {
	background-image: url('img/signin/Red-signin_Long_hover_44dp.png');
}
#social-signin .signin-google:active {
	background-image: url('img/signin/Red-signin_Long_press_44dp.png');
}
#social-signin .signin-google.waiting {
	background: url('img/loader.gif') center center no-repeat;
}
