<div class="box">
	<h2>Global</h2>
	<p>You can reset all competitions data at once.
		This will drop and re-import competition data, while keeping users and bets.</p>
	<div class="actions">
		<button onclick="page.reset();">Reset all competitions</button>
	</div>
</div>

<!-- BEGIN: active -->
<div class="box active">
	<h2>Active competition: {name}</h2>
	<p><a onclick="page.preview('{year}', event);" href="#">Preview</a>, Import</p>
	<p>See active jobs, trigger new, delete</p>
</div>
<!-- END: active -->

<div class="box">
	<h2>Available competitions</h2>
	<table class="list">
	<thead>
		<tr>
			<th>Year</th>
			<th>Competition</th>
			<th>Preview</th>
			<th>Import</th>
		</tr>
	</thead>

	<tbody>
		<!-- BEGIN: competition -->
		<tr class="{row_class}">
			<td>{year}</td>
			<td>{name}</td>
			<td><a onclick="page.preview('{year}', event);" href="#">Preview</a></td>
			<td><a onclick="page.import('{year}', event);" href="#">Import</a></td>
		</tr>
		<!-- END: competition -->
	</tbody>
	</table>
</div>