/***[Finals Board]**********/
.page-board .board {
	position: relative;

	--offset-top: 0px;
}
.page-board .board.sizeH {
	height: 723px;
}
.page-board .board.sizeQ {
	height: 404px;

	--offset-top: -160px;
}
.page-board .match {
	position: absolute;
	width: 45%;
	border: 1px solid #CCCCCC;
	background-color: #F4F4F4;
	border-radius: 0 0 0.6em 0.6em;
}
.page-board .match h3 {
	margin: 0;
	padding: 1px 0;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	text-align: center;
	font-size: 100%;
	color: #444444;
}
.page-board .match.round16 h3 { background-image: url(img/final-lime.png); }
.page-board .match.quarter h3 { background-image: url(img/final-bronze.png); }
.page-board .match.semi    h3 { background-image: url(img/final-silver.png); }
.page-board .match.final   h3 { background-image: url(img/final-gold.png); }
.page-board .match.third   h3 { background-image: url(img/final-gold.png); }
.page-board .match span.date {
	font-size: 85%;
}
.page-board .match .content {
	padding: 0.3em;
	text-align: center;
}
.page-board .match div.teams {
	margin-top: 0.4em;
	text-align: center;
	font-weight: bold;
}
.page-board .match div.teams .score {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
}
.page-board .match span.flag, .page-board .match span.club {
	width: calc(50% - 41px);
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
}
.page-board .match span.flag.left, .page-board .match span.club.left {
	text-align: right;
}
.page-board .match div.teams .pso {
	font-size: 85%;
}
.link {
	position: absolute;
	border: 1px solid #CCCCCC;
}
.link.highlighted {
	border-width: 3px;
	border-color: #666666;
}
/* #match-H1 {  } */
#match-H2 { top:  80px; }
#match-H5 { top:     0; right: 0; }
#match-H6 { top:  80px; right: 0; }
#match-H3 { top: 565px; }
#match-H4 { top: 645px; }
#match-H7 { top: 565px; right: 0; }
#match-H8 { top: 645px; right: 0; }
#match-Q1 { top: calc(160px + var(--offset-top)); }
#match-Q2 { top: calc(160px + var(--offset-top)); right: 0; }
#match-Q3 { top: calc(485px + var(--offset-top)); }
#match-Q4 { top: calc(485px + var(--offset-top)); right: 0; }
#match-S1 { top: calc(240px + var(--offset-top)); left: 50%; transform: translate(-50%); }
#match-S2 { top: calc(405px + var(--offset-top)); left: 50%; transform: translate(-50%); }
#match-T1 { top: calc(320px + var(--offset-top)); left:   0; }
#match-F1 { top: calc(320px + var(--offset-top)); right:  0; border: 2px solid #333333; }
#link-Q1 { top:  60px; left:  22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-Q2 { top:  60px; right: 22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-Q3 { top: 545px; left:  22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-Q4 { top: 545px; right: 22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-S1 { top: calc(220px + var(--offset-top)); left:  22.5%; right: 22.5%; height:  40px; border-top: none; }
#link-S2 { top: calc(455px + var(--offset-top)); left:  22.5%; right: 22.5%; height:  40px; border-bottom: none; }
#link-F1 { top: calc(285px + var(--offset-top)); left:  72.5%; right: 22.5%; height: 145px; border-left: none; }
#link-T1 { top: calc(285px + var(--offset-top)); right: 72.5%; left:  22.5%; height: 145px; border-style: dashed; border-right: none; }
