/***[Finals Board]**********/
.page-board .board {
	position: relative;
	height: 723px;
}
.page-board .match {
	position: absolute;
	width: 45%;
	border: 1px solid #CCCCCC;
	background-color: #F4F4F4;
	border-radius: 0 0 0.6em 0.6em;
}
.page-board .match h3 {
	margin: 0;
	padding: 1px 0;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	text-align: center;
	font-size: 100%;
	color: #444444;
}
.page-board .match.round16 h3 { background: url('img/final-lime.png'); }
.page-board .match.quarter h3 { background: url('img/final-bronze.png'); }
.page-board .match.semi    h3 { background: url('img/final-silver.png'); }
.page-board .match.final   h3 { background: url('img/final-gold.png'); }
.page-board .match.third   h3 { background: url('img/final-gold.png'); }
.page-board .match span.date {
	font-size: 85%;
}
.page-board .match .content {
	padding: 0.3em;
	text-align: center;
}
.page-board .match div.teams {
	margin-top: 0.4em;
	text-align: center;
	font-weight: bold;
}
.page-board .match div.teams .score {
	display: inline-block;
	width: 35px;
}
.page-board .match span.flag {
	display: inline-block;
	width: calc(50% - 41px);
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: bottom;
	white-space: nowrap;
}
.page-board .match span.flag.left {
	text-align: right;
}
.page-board .match div.teams .pso {
	font-size: 85%;
}
.link {
	position: absolute;
	border: 1px solid #CCCCCC;
}
.link.highlighted {
	border-width: 3px;
	border-color: #666666;
}
/* #match-H49 {  } */
#match-H50 { top:  80px; }
#match-H53 { top:     0; right: 0; }
#match-H54 { top:  80px; right: 0; }
#match-H51 { top: 560px; }
#match-H52 { top: 640px; }
#match-H55 { top: 560px; right: 0; }
#match-H56 { top: 640px; right: 0; }
#match-Q58 { top: 160px; }
#match-Q57 { top: 160px; right: 0; }
#match-Q59 { top: 480px; right: 0; }
#match-Q60 { top: 480px; }
#match-S61 { top: 240px; left: 50%; transform: translate(-50%); }
#match-S62 { top: 400px; left: 50%; transform: translate(-50%); }
#match-T63 { top: 320px; left:   0; }
#match-F64 { top: 320px; right:  0; }
#link-Q1 { top:  60px; left:  22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-Q2 { top:  60px; right: 22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-Q3 { top: 540px; left:  22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-Q4 { top: 540px; right: 22.5%; width:     0; height: 100px; border-top: none; border-left: none; }
#link-S1 { top: 220px; left:  22.5%; right: 22.5%; height:  40px; border-top: none; }
#link-S2 { top: 450px; left:  22.5%; right: 22.5%; height:  40px; border-bottom: none; }
#link-F1 { top: 285px; left:  72.5%; right: 22.5%; height: 145px; border-left: none; }
#link-T1 { top: 285px; right: 72.5%; left:  22.5%; height: 145px; border-style: dashed; border-right: none; }
