/***[Finals Board]**********/
#contents.page-board {
	margin-left: -185px;
	margin-right: -185px;
}
.page-board .board {
	position: relative;
	height: 770px;
}
.page-board .match {
	position: absolute;
	width: 290px;
	border: 1px solid #CCCCCC;
	background-color: #F4F4F4;
	border-radius: 0 0 0.6em 0.6em;
}
.page-board .match h3 {
	margin: 0;
	padding: 1px 0;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	text-align: center;
	font-size: 100%;
	color: #444444;
}
.page-board .match.round16 h3 { background: url(img/final-lime.png); }
.page-board .match.quarter h3 { background: url(img/final-bronze.png); }
.page-board .match.semi    h3 { background: url(img/final-silver.png); }
.page-board .match.final   h3 { background: url(img/final-gold.png); }
.page-board .match.third   h3 { background: url(img/final-gold.png); }
.page-board .match span.date {
	font-size: 85%;
}
.page-board .match .content {
	padding: 0.3em 0.6em 0.6em;
	text-align: center;
}
.page-board .match div.teams {
	margin-top: 0.4em;
	text-align: center;
	font-weight: bold;
}
.page-board .match div.teams .score {
	display: inline-block;
	width: 45px;
}
.page-board .match span.flag {
	display: inline-block;
	width: 90px;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: bottom;
	white-space: nowrap;
}
.page-board .match span.flag.left {
	text-align: right;
}
.page-board .match div.teams .pso {
	font-size: 85%;
}
.link {
	position: absolute;
	border: 1px solid #CCCCCC;
	border-left: none;
}
.link.highlighted {
	border-width: 3px;
	border-color: #666666;
}
/* #match-H49 {  } */
#match-H50 { top: 100px; }
#match-H53 { top: 200px; }
#match-H54 { top: 300px; }
#match-H51 { top: 400px; }
#match-H52 { top: 500px; }
#match-H55 { top: 600px; }
#match-H56 { top: 700px; }
#match-Q57 { top:  50px; left: 300px; }
#match-Q58 { top: 250px; left: 300px; }
#match-Q59 { top: 450px; left: 300px; }
#match-Q60 { top: 650px; left: 300px; }
#match-S61 { top: 150px; left: 500px; }
#match-S62 { top: 550px; left: 500px; }
#match-T63 { top: 700px; left: 700px; }
#match-F64 { top: 350px; left: 700px; }
#link-Q1 { top:  35px; left: 292px; width: 155px; height: 100px; }
#link-Q2 { top: 235px; left: 292px; width: 155px; height: 100px; }
#link-Q3 { top: 435px; left: 292px; width: 155px; height: 100px; }
#link-Q4 { top: 635px; left: 292px; width: 155px; height: 100px; }
#link-S1 { top:  85px; left: 592px; width: 55px; height: 200px; }
#link-S2 { top: 485px; left: 592px; width: 55px; height: 200px; }
#link-F1 { top: 190px; left: 792px; width: 55px; height: 400px; }
#link-T1 { top: 590px; left: 792px; width: 55px; height: 110px;
           border-top: none; border-bottom: none; border-right-style: dashed; }
