.club {
	background-position-x: left;
	background-position-y: 2px;
	background-repeat: no-repeat;
	display: inline-block; /* needed for Chrome to align with box and not content */
	line-height: 18px;
	padding-left: 20px;
    white-space: nowrap;
}
.left .club, .club.left {
	background-position-x: right;
	padding-left: 0;
	padding-right: 20px;
}

.club-AHL { background-image: url(img/clubs/AHL.png); }
.club-AIN { background-image: url(img/clubs/AIN.png); }
.club-AKL { background-image: url(img/clubs/AKL.png); }
.club-ATM { background-image: url(img/clubs/ATM.png); }
.club-BAY { background-image: url(img/clubs/BAY.png); }
.club-BOC { background-image: url(img/clubs/BOC.png); }
.club-BOT { background-image: url(img/clubs/BOT.png); }
.club-BVB { background-image: url(img/clubs/BVB.png); }
.club-CFM { background-image: url(img/clubs/CFM.png); }
.club-CHE { background-image: url(img/clubs/CHE.png); }
.club-EST { background-image: url(img/clubs/EST.png); }
.club-FLA { background-image: url(img/clubs/FLA.png); }
.club-FLU { background-image: url(img/clubs/FLU.png); }
.club-HIL { background-image: url(img/clubs/HIL.png); }
.club-INT { background-image: url(img/clubs/INT.png); }
.club-JUV { background-image: url(img/clubs/JUV.png); }
.club-LAF { background-image: url(img/clubs/LAF.png); }
.club-MCI { background-image: url(img/clubs/MCI.png); }
.club-MIA { background-image: url(img/clubs/MIA.png); }
.club-MSU { background-image: url(img/clubs/MSU.png); }
.club-PAC { background-image: url(img/clubs/PAC.png); }
.club-POR { background-image: url(img/clubs/POR.png); }
.club-PSG { background-image: url(img/clubs/PSG.png); }
.club-RIV { background-image: url(img/clubs/RIV.png); }
.club-RMA { background-image: url(img/clubs/RMA.png); }
.club-SAL { background-image: url(img/clubs/SAL.png); }
.club-SEA { background-image: url(img/clubs/SEA.png); }
.club-SEP { background-image: url(img/clubs/SEP.png); }
.club-SLB { background-image: url(img/clubs/SLB.png); }
.club-UHD { background-image: url(img/clubs/UHD.png); }
.club-URD { background-image: url(img/clubs/URD.png); }
.club-WAC { background-image: url(img/clubs/WAC.png); }
