/***[Team Flags]************/
/* https://www.iso.org/obp/ui/#search */
/* https://en.wikipedia.org/wiki/List_of_FIFA_country_codes */
/*      SKJ: South Korea and Japan hosting 2002 worldcup */
/* http://www.famfamfam.com/lab/icons/flags/ */
.flag {
	background-image: url("img/flags-spritesheet.png");
	background-position-x: left;
	background-position-y: 20px; /* to detect missing flags */
	background-repeat: no-repeat;
	display: inline-block; /* fix Chrome when using sprite */
	line-height: 14px; /* fix Chrome when using sprite */
	padding-left: 20px;
    white-space: nowrap;
}
.left .flag, .flag.left {
	background-position-x: right;
	padding-left: 0;
	padding-right: 20px;
}

.flag-ALB { background-position-y: 2px; }
.flag-ANG { background-position-y: -12px; }
.flag-ARG { background-position-y: -26px; }
.flag-AUT { background-position-y: -40px; }
.flag-AUS { background-position-y: -54px; }
.flag-BIH { background-position-y: -68px; }
.flag-BEL { background-position-y: -82px; }
.flag-BUL { background-position-y: -96px; }
.flag-BRA { background-position-y: -110px; }
.flag-CAN { background-position-y: -124px; }
.flag-SUI { background-position-y: -138px; }
.flag-CIV { background-position-y: -152px; }
.flag-CHI { background-position-y: -166px; }
.flag-CMR { background-position-y: -180px; }
.flag-CHN { background-position-y: -194px; }
.flag-COL { background-position-y: -208px; }
.flag-CRC { background-position-y: -222px; }
.flag-CZE { background-position-y: -236px; }
.flag-GER { background-position-y: -250px; }
.flag-DEN { background-position-y: -264px; }
.flag-ALG { background-position-y: -278px; }
.flag-ECU { background-position-y: -292px; }
.flag-EGY { background-position-y: -306px; }
.flag-ENG { background-position-y: -320px; }
.flag-ESP { background-position-y: -334px; }
.flag-FIN { background-position-y: -348px; }
.flag-FRA { background-position-y: -362px; }
.flag-GHA { background-position-y: -376px; }
.flag-GRE { background-position-y: -390px; }
.flag-HON { background-position-y: -404px; }
.flag-CRO { background-position-y: -418px; }
.flag-HUN { background-position-y: -432px; }
.flag-IRL { background-position-y: -446px; }
.flag-IRN { background-position-y: -460px; }
.flag-ISL { background-position-y: -474px; }
.flag-ITA { background-position-y: -488px; }
.flag-JAM { background-position-y: -502px; }
.flag-JPN { background-position-y: -516px; }
.flag-PRK { background-position-y: -530px; }
.flag-KOR { background-position-y: -544px; }
.flag-MAR { background-position-y: -558px; }
.flag-MKD { background-position-y: -572px; }
.flag-MEX { background-position-y: -586px; }
.flag-NGA { background-position-y: -600px; }
.flag-NED { background-position-y: -614px; }
.flag-NOR { background-position-y: -628px; }
.flag-NZL { background-position-y: -642px; }
.flag-PAN { background-position-y: -656px; }
.flag-PER { background-position-y: -670px; }
.flag-POL { background-position-y: -684px; }
.flag-POR { background-position-y: -698px; }
.flag-PAR { background-position-y: -712px; }
.flag-QAT { background-position-y: -726px; }
.flag-ROU { background-position-y: -740px; }
.flag-SRB { background-position-y: -754px; }
.flag-RUS { background-position-y: -768px; }
.flag-KSA { background-position-y: -782px; }
.flag-SCO { background-position-y: -796px; }
.flag-SWE { background-position-y: -810px; }
.flag-SVN { background-position-y: -824px; }
.flag-SVK { background-position-y: -838px; }
.flag-SKJ { background-position-y: -852px; }
.flag-SEN { background-position-y: -866px; }
.flag-TOG { background-position-y: -880px; }
.flag-TUN { background-position-y: -894px; }
.flag-TUR { background-position-y: -908px; }
.flag-TRI { background-position-y: -922px; }
.flag-UKR { background-position-y: -936px; }
.flag-USA { background-position-y: -950px; }
.flag-URU { background-position-y: -964px; }
.flag-WAL { background-position-y: -978px; }
.flag-YUG { background-position-y: -992px; }
.flag-RSA { background-position-y: -1006px; }
