/***[Team Flags]************/
/* https://www.iso.org/obp/ui/#search */
/* https://en.wikipedia.org/wiki/List_of_FIFA_country_codes */
/*      SKJ: South Korea and Japan hosting 2002 worldcup */
/* http://www.famfamfam.com/lab/icons/flags/ */
.flag {
	background-position-x: left;
	background-position-y: 2px;
	background-repeat: no-repeat;
	display: inline-block; /* needed for Chrome to align with box and not content */
	line-height: 14px;
	padding-left: 20px;
    white-space: nowrap;
}
.left .flag, .flag.left {
	background-position-x: right;
	padding-left: 0;
	padding-right: 20px;
}

.flag-UAE { background-image: url(img/flags/ae.png); }
.flag-ALB { background-image: url(img/flags/al.png); }
.flag-ANG { background-image: url(img/flags/ao.png); }
.flag-ARG { background-image: url(img/flags/ar.png); }
.flag-AUT { background-image: url(img/flags/at.png); }
.flag-AUS { background-image: url(img/flags/au.png); }
.flag-BIH { background-image: url(img/flags/ba.png); }
.flag-BEL { background-image: url(img/flags/be.png); }
.flag-BUL { background-image: url(img/flags/bg.png); }
.flag-BOL { background-image: url(img/flags/bo.png); }
.flag-BRA { background-image: url(img/flags/br.png); }
.flag-CAN { background-image: url(img/flags/ca.png); }
.flag-COD { background-image: url(img/flags/cd.png); }
.flag-SUI { background-image: url(img/flags/ch.png); }
.flag-CIV { background-image: url(img/flags/ci.png); }
.flag-CHI { background-image: url(img/flags/cl.png); }
.flag-CMR { background-image: url(img/flags/cm.png); }
.flag-CHN { background-image: url(img/flags/cn.png); }
.flag-COL { background-image: url(img/flags/co.png); }
.flag-CRC { background-image: url(img/flags/cr.png); }
.flag-CUB { background-image: url(img/flags/cu.png); }
.flag-CPV { background-image: url(img/flags/cv.png); }
.flag-CUW { background-image: url(img/flags/cw.png); }
.flag-CZE { background-image: url(img/flags/cz.png); }
.flag-TCH { background-image: url(img/flags/czechoslovakia.png); }
.flag-GDR { background-image: url(img/flags/dd.png); }
.flag-GER { background-image: url(img/flags/de.png); }
.flag-DEN { background-image: url(img/flags/dk.png); }
.flag-INH { background-image: url(img/flags/dutch-east-indies.png); }
.flag-ALG { background-image: url(img/flags/dz.png); }
.flag-ECU { background-image: url(img/flags/ec.png); }
.flag-EGY { background-image: url(img/flags/eg.png); }
.flag-ENG { background-image: url(img/flags/england.png); }
.flag-ESP { background-image: url(img/flags/es.png); }
.flag-EUR { background-image: url(img/flags/european-union.png); }
.flag-FIN { background-image: url(img/flags/fi.png); }
.flag-FRA { background-image: url(img/flags/fr.png); }
.flag-GEO { background-image: url(img/flags/ge.png); }
.flag-GHA { background-image: url(img/flags/gh.png); }
.flag-GRE { background-image: url(img/flags/gr.png); }
.flag-HON { background-image: url(img/flags/hn.png); }
.flag-CRO { background-image: url(img/flags/hr.png); }
.flag-HAI { background-image: url(img/flags/ht.png); }
.flag-HUN { background-image: url(img/flags/hu.png); }
.flag-IRL { background-image: url(img/flags/ie.png); }
.flag-ISR { background-image: url(img/flags/il.png); }
.flag-IRQ { background-image: url(img/flags/iq.png); }
.flag-IRN { background-image: url(img/flags/ir.png); }
.flag-ISL { background-image: url(img/flags/is.png); }
.flag-ITA { background-image: url(img/flags/it.png); }
.flag-JAM { background-image: url(img/flags/jm.png); }
.flag-JOR { background-image: url(img/flags/jo.png); }
.flag-JPN { background-image: url(img/flags/jp.png); }
.flag-PRK { background-image: url(img/flags/kp.png); }
.flag-KOR { background-image: url(img/flags/kr.png); }
.flag-KUW { background-image: url(img/flags/kw.png); }
.flag-MAR { background-image: url(img/flags/ma.png); }
.flag-MKD { background-image: url(img/flags/mk.png); }
.flag-MEX { background-image: url(img/flags/mx.png); }
.flag-NGA { background-image: url(img/flags/ng.png); }
.flag-NED { background-image: url(img/flags/nl.png); }
.flag-NOR { background-image: url(img/flags/no.png); }
.flag-NIR { background-image: url(img/flags/northern-ireland.png); }
.flag-NZL { background-image: url(img/flags/nz.png); }
.flag-PAN { background-image: url(img/flags/pa.png); }
.flag-PER { background-image: url(img/flags/pe.png); }
.flag-POL { background-image: url(img/flags/pl.png); }
.flag-POR { background-image: url(img/flags/pt.png); }
.flag-PAR { background-image: url(img/flags/py.png); }
.flag-QAT { background-image: url(img/flags/qa.png); }
.flag-ROU { background-image: url(img/flags/ro.png); }
.flag-SRB { background-image: url(img/flags/rs.png); }
.flag-RUS { background-image: url(img/flags/ru.png); }
.flag-KSA { background-image: url(img/flags/sa.png); }
.flag-SCO { background-image: url(img/flags/scotland.png); }
.flag-SWE { background-image: url(img/flags/se.png); }
.flag-SVN { background-image: url(img/flags/si.png); }
.flag-SVK { background-image: url(img/flags/sk.png); }
.flag-SKJ { background-image: url(img/flags/skj.png); }
.flag-SEN { background-image: url(img/flags/sn.png); }
.flag-URS { background-image: url(img/flags/su.png); }
.flag-SLV { background-image: url(img/flags/sv.png); }
.flag-TOG { background-image: url(img/flags/tg.png); }
.flag-TUN { background-image: url(img/flags/tn.png); }
.flag-TUR { background-image: url(img/flags/tr.png); }
.flag-TRI { background-image: url(img/flags/tt.png); }
.flag-UKR { background-image: url(img/flags/ua.png); }
.flag-USA { background-image: url(img/flags/us.png); }
.flag-URU { background-image: url(img/flags/uy.png); }
.flag-UZB { background-image: url(img/flags/uz.png); }
.flag-WAL { background-image: url(img/flags/wales.png); }
.flag-FRG { background-image: url(img/flags/west-germany.png); }
.flag-YUG { background-image: url(img/flags/yugoslavia-98.png); }
.flag-RSA { background-image: url(img/flags/za.png); }
.flag-ZAI { background-image: url(img/flags/zaire.png); }
