/***[Team Flags]************/
/* https://www.iso.org/obp/ui/#search */
/* http://www.famfamfam.com/lab/icons/flags/ */
.flag {
	background-image: url("img/flags-sprite.png");
	background-position: left 50%;
	background-repeat: no-repeat;
	display: inline-block; /* fix Chrome when using sprite */
	line-height: 14px; /* fix Chrome when using sprite */
	padding-left: 20px;
}
.left .flag, .flag.left {
	background-position: right 50%;
	padding-left: 0;
	padding-right: 20px;
}

.flag.ARG { background-position-y: 2px; }
.flag.AUS { background-position-y: -29px; }
.flag.BOS { background-position-y: -60px; }/*BIH*/
.flag.BEL { background-position-y: -91px; }
.flag.BRA { background-position-y: -122px; }
.flag.SWI { background-position-y: -153px; }/*CHE*/
.flag.CIV { background-position-y: -184px; }
.flag.CHI { background-position-y: -215px; }/*CHL*/
.flag.CMR { background-position-y: -246px; }
.flag.COL { background-position-y: -277px; }
.flag.COS { background-position-y: -308px; }/*CRI*/
.flag.GER { background-position-y: -339px; }/*DEU*/
.flag.ALG { background-position-y: -370px; }/*DZA*/
.flag.ECU { background-position-y: -401px; }
.flag.ENG { background-position-y: -432px; }
.flag.ESP { background-position-y: -463px; }
.flag.FRA { background-position-y: -494px; }
.flag.GHA { background-position-y: -525px; }
.flag.GRE { background-position-y: -556px; }/*GRC*/
.flag.HON { background-position-y: -587px; }/*HND*/
.flag.CRO { background-position-y: -618px; }/*HRV*/
.flag.IRA { background-position-y: -649px; }/*IRN*/
.flag.ITA { background-position-y: -680px; }
.flag.JPN { background-position-y: -711px; }
.flag.KOR { background-position-y: -742px; }
.flag.MEX { background-position-y: -773px; }
.flag.NGA { background-position-y: -804px; }
.flag.NED { background-position-y: -835px; }/*NLD*/
.flag.POR { background-position-y: -866px; }/*PRT*/
.flag.RUS { background-position-y: -897px; }
.flag.USA { background-position-y: -929px; }
.flag.URU { background-position-y: -959px; }/*URY*/

/* Additional flags for history */
.flag.SWE { background-image: url("img/flags/se.png"); }
.flag.QAT { background-image: url("img/flags/qa.png"); }
.flag.RSA { background-image: url("img/flags/za.png"); }/*ZAF*/
.flag.SKJ { background-image: url("img/flags/skj.png"); }

/* Additional flags for 2018 worldcup */
.flag.SUI { background-position-y: -153px; }/*CHE*/
.flag.KSA { background-image: url("img/flags/sa.png"); }/*SAU*/
.flag.EGY { background-image: url("img/flags/eg.png"); }
.flag.MAR { background-image: url("img/flags/ma.png"); }
.flag.IRN { background-position-y: -649px; }
.flag.PER { background-image: url("img/flags/pe.png"); }
.flag.DEN { background-image: url("img/flags/dk.png"); }/*DNK*/
.flag.ISL { background-image: url("img/flags/is.png"); }
.flag.CRC { background-position-y: -308px; }/*CRI*/
.flag.SRB { background-image: url("img/flags/rs.png"); }
.flag.PAN { background-image: url("img/flags/pa.png"); }
.flag.TUN { background-image: url("img/flags/tn.png"); }
.flag.POL { background-image: url("img/flags/pl.png"); }
.flag.SEN { background-image: url("img/flags/sn.png"); }

/* Additional flags for 2022 worldcup */
.flag.WAL { background-image: url("img/flags/wales.png"); }
.flag.CAN { background-image: url("img/flags/ca.png"); }

/* Additional flags for 2010 worldcup */
.flag.NZL { background-image: url("img/flags/nz.png"); }
.flag.PAR { background-image: url("img/flags/py.png"); }/*PRY*/
.flag.PRK { background-image: url("img/flags/kp.png"); }
.flag.SVN { background-image: url("img/flags/si.png"); }
.flag.SVK { background-image: url("img/flags/sk.png"); }

/* Additional flags for 2006 worldcup */
.flag.AGO { background-image: url("img/flags/ao.png"); }/*Angola*/
.flag.CZE { background-image: url("img/flags/cz.png"); }/*Czech Republic*/
.flag.TGO { background-image: url("img/flags/tg.png"); }/*Togo*/
.flag.TTO { background-image: url("img/flags/tt.png"); }/*Trinidad and Tobago*/
.flag.UKR { background-image: url("img/flags/ua.png"); }/*Ukraine*/

/* Additional flags for 2002 worldcup */
.flag.IRL { background-image: url("img/flags/ie.png"); }
.flag.TUR { background-image: url("img/flags/tr.png"); }
.flag.CHN { background-image: url("img/flags/cn.png"); }

/* Additional flags for 1998 worldcup */
.flag.NOR { background-image: url("img/flags/no.png"); }
.flag.SCO { background-image: url("img/flags/scotland.png"); }
.flag.AUT { background-image: url("img/flags/at.png"); }
.flag.BUL { background-image: url("img/flags/bg.png"); }
.flag.YUG { background-image: url("img/flags/yugoslavia-98.png"); }
.flag.ROU { background-image: url("img/flags/ro.png"); }
.flag.JAM { background-image: url("img/flags/jm.png"); }
