/***[Page Structure]********/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #333333;
	font-size: 10px;
	padding: 0;
	margin: 0;
}
td, th {
	font-size: 10px;
}
#global-container {
	margin: 0 auto;
	max-width: 640px;
	min-width: 360px;
}
#header {
	height: 102px;
	margin: 1em auto;
	padding: 1em;
	background-color: #FFFFFF;
	border-radius: 1em;
}
#contents {
	margin: 1em auto;
	padding: 1em;
	background-color: #FFFFFF;
	border-radius: 1em;
}
#footer {
	margin-top: -0.8em;
	padding: 0 1em;
}
.note {
	margin: 1em auto;
	padding: 1em 3.5em 1em;
	background-color: #FFFFCC;
	background-image: url(img/date_add.png);
	background-position: 1em 50%;
	background-repeat: no-repeat;
	border-radius: 1em;
}
.click-to-copy {
	display: inline-block;
	cursor: copy;
	border-radius: 1em;
	padding: 0.3em 0.8em;
}
.click-to-copy:hover {
	background: #CCCCAA;
}

/***[Logo]******************/
#logo {
	float: right;
	height: 100px;
	width: 100px;
	background-image: url("img/worldcup.png");
	background-repeat: no-repeat;
}
#logo.worldcup-1930 { background-position-x: 15px; }
#logo.worldcup-1934 { background-position-x: -90px; }
#logo.worldcup-1938 { background-position-x: -190px; }
#logo.worldcup-1950 { background-position-x: -295px; }
#logo.worldcup-1954 { background-position-x: -400px; }
#logo.worldcup-1958 { background-position-x: -510px; }
#logo.worldcup-1962 { background-position-x: -615px; }
#logo.worldcup-1966 { background-position-x: -715px; }
#logo.worldcup-1970 { background-position-x: -820px; }
#logo.worldcup-1974 { background-position-x: -920px; }
#logo.worldcup-1978 { background-position-x: -1030px; }
#logo.worldcup-1982 { background-position-x: -1140px; }
#logo.worldcup-1986 { background-position-x: -1235px; }
#logo.worldcup-1990 { background-position-x: -1340px; }
#logo.worldcup-1994 { background-position-x: -1450px; }
#logo.worldcup-1998 { background-position-x: -1550px; }
#logo.worldcup-2002 { background-position-x: -1660px; }
#logo.worldcup-2006 { background-position-x: -1770px; }
#logo.worldcup-2010 { background-position-x: -1880px; }
#logo.worldcup-2014 { background-position-x: -1990px; }
#logo.worldcup-2018 { background-position-x: -2100px; }
#logo.worldcup-2022 { background-position-x: -2200px; }

#logo.euro-2008 { background-image: url("img/logo/euro2008.png"); }
#logo.euro-2012 { background-image: url("img/logo/euro2012.png"); }
#logo.euro-2016 { background-image: url("img/logo/euro2016.png"); }
#logo.euro-2020 { background-image: url("img/logo/euro2020.png"); }
#logo.euro-2024 { background-image: url("img/logo/euro2024.png"); }

/***[Header]****************/
#header h1 {
	margin-top: 0;
	margin-right: 100px;
	margin-bottom: 0.3em;
	padding: 0.2em 0.3em;
	background-color: #9C0000;
	color: #FFFFFF;
	font-size: 20px;
}
dl#menu {
	margin: 0 100px 0 0;
	padding: 0;
}
dl#menu dt {
	line-height: 21px;
	font-size: 140%;
	font-weight: bold;
	clear: left;
	float: left;
	width: 110px;
}
dl#menu dd {
	font-size: 110%;
	margin: 0;
	float: left;
}
dl#menu dd.right {
	float: right;
}
dl#menu dd a {
	display: block;
	padding: 0.4em 1.35em;
	text-decoration: none;
	color: black;
}
dl#menu dd a:hover {
	background: #999999;
	color: #FFFFFF;
}
dl#menu dd a.selected {
	background: #333333 url("img/l0.png") top left repeat-x;
	color: #FFFFFF;
}
dl#menu li ul li {
	display: inline;
}
dl#menu li ul li a {
	display: inline;
	padding: 0.2em 1em;
}

/***[Footer]****************/
#footer {
	color: #888888;
}
#footer p {
	margin: 0;
}
#footer > p {
	float: left;
}
#footer a {
	color: #888888;
	text-decoration: none;
}
#footer a.discrete {
	color: #333333;
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/***[PWL]*******************/
#app-pwl {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	background: #FFFFFF url('img/loader.gif') 1.5em 50% no-repeat;
	border: 1px outset #333333;
	border-radius: 3em;
	padding: 2em 4em;
	width: 15em;
	text-align: center;
}

/***[Login]*****************/
#user-area {
	text-align: right;
}
#login-form fieldset {
	border: none;
	padding: 2px;
	margin: 0;
}
#login-form div {
	margin: 8px;
}
#login-form div.submit {
	text-align: right;
}
#login-form div.submit input {
	background-color: #EEEEEE;
	border: 1px outset #CCCCCC;
	color: #222222;
	padding: 1px 5px;
}

/***[Responsive Design]*****/
/**
 * Small   360px - 460px
 * Medium  460px - 640px
 * Large   640px+
 */
@media (max-width: 640px) { /* Target sizes: S, M */
	.media-L { /* Only visible in `large` screens (L) */
		display: none;
	}
	dl#menu dt + dd {
		clear: left;
	}
}
@media (max-width: 460px) { /* Target size: S */
	.media-ML { /* Only visible in `medium` and `large` screens (ML) */
		display: none;
	}
	dl#menu dd a {
		padding: 0.4em 1em;
	}
}
