/***[Ranking]***************/
table.ranking {
	margin: 0 auto 2em;
}
table.ranking tbody tr:nth-child(3) {
	border-bottom: 2px solid #119911;
}

table.ranking tr:hover { background-color: #EEEEAA; }

table.ranking td.team {
	text-align: left;
	width: 40%;
}

table.quickRanking {
	float: left;
	width: 160px;
	margin: 0.3em;
}
table.quickRanking tbody tr:nth-child(3) {
	border-bottom: 2px solid #119911;
}
table.quickRanking td.team {
	text-align: left;
}

/***[Best Thirds]***************/
table.bestThirds tbody tr:nth-child(8) {
	border-bottom: 2px solid #119911;
}
table.bestThirds tr { border-left: 3px solid transparent; }
table.bestThirds tr.qualified { border-left-color: #119911; }
table.bestThirds tr.eliminated { border-left-color: #FF0000; }
table.bestThirds td.team {
	text-align: left;
	width: 40%;
}
