/***[Schedule]**************/
.schedule thead th.left {
	text-align: left;
}
.schedule tr.subtitle {
	background-color: #F4F4F4;
	color: var(--primary-color);
}
.schedule tr.subtitle td {
	text-align: left;
}

.schedule td.time {
	width: 10%;
	text-align: left;
}
.schedule td.group {
	width: 15%;
}
.schedule td.score {
	width: 10%;
	white-space: nowrap;
}
.schedule td.team {
	width: 23%;
	text-align: left;
}
.schedule td.left {
	text-align: right;
}
.schedule td.city {
	text-align: left;
}
.schedule tr[data-live="true"] .score {
	background-color: #CC6600;
	border-radius: 0.5em;
	color: #fff;
}