<div class="board">
<div id="link-Q1"></div><div id="link-Q2"></div><div id="link-Q3"></div><div id="link-Q4"></div>
<div id="link-S1"></div><div id="link-S2"></div><div id="link-T1"></div><div id="link-F1"></div>

<!-- BEGIN: match -->
<div class="match {class}" id="match-{match.phase}{num}"
     <!-- BEGIN: tooltip -->
     onmouseover="page.tooltip.showTooltip(event, page.getRankingPopup('{match.team1_source}', '{match.team2_source}'));"
     onmousemove="page.tooltip.positionTooltip(event);"
     onmouseout="page.tooltip.hideTooltip();"
     <!-- END: tooltip -->
     >
	<h3>{category}</h3>
	<div class="content">
		<span class="date">{match.day} - {match.hour} - {stadium.city}</span>
		<div class="teams">
			<span class="flag {match.team1_id} left">{team1.name}</span>
			<span class="score">{match.team1_score} - {match.team2_score}</span>
			<span class="flag {match.team2_id}">{team2.name}</span>
			<!-- BEGIN: PSO -->
			<span class="score pso">({match.team1_scorePSO} - {match.team2_scorePSO})</span>
			<!-- END: PSO -->
		</div>
	</div>
</div>
<!-- END: match -->
</div>
