<p>Besides giving information on the competition (which you can find easily anywhere on the web), this site is mainly a technological prototype. It demonstrates what can be done using client-side templates, with JSON client-server communication.</p>
<p>Technical features:</p>
<ul>
	<li>All displays are client-side templates</li>
	<li>Data is retrieved on load from the server</li>
	<li>Supported browsers: FF, Chrome, IE8+, IE7 (with minor glitches - but who cares?) - (Opera, Safari not tested)</li>
	<li>Back/Forward is supported (in FF, Chrome, IE8+)</li>
	<li>Reload restores the current state</li>
	<li>Backend using nginx and node.js</li>
</ul>

<p>Functional features:</p>
<ul>
	<li>"Finals board", with group tooltips on quarter finals</li>
	<li>Highlight team matches in schedule on mouseover in team rankings (not in IE7)</li>
</ul>

<p>Not supported yet:</p>
<ul>
	<li>Store data in mongodb (currently static json files)</li>
	<li>Mobile-specific display</li>
	<li>Localization is not supported</li>
	<li>Add betting engine (quarter finals, semi-finals, final winner)</li>
</ul>
