<table class="ranking">
<thead>
	<tr>
		<th title="Rank">Rk</th>
		<th>Team</th>
		<th title="Points">Points</th>
		<th title="Goal Difference">Diff.</th>
		<th title="Goals Scored">GS</th>
		<th title="Goals Against">GA</th>
		<th title="Won">W</th>
		<th title="Draw">D</th>
		<th title="Lost">L</th>
		<th title="Matches played">MP</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th colspan="10">Group {group}</th>
	</tr>
	<!-- BEGIN: team -->
	<tr class="{row_class}"
	    onmouseover="page.templates.schedule.highlight('{team.id}')"
	    onmouseout="page.templates.schedule.highlight()">
		<td>{row}</td>
		<td class="team"><span class="flag {team.id}">{team.name}</span></td>
		<td>{team.points}</td>
		<td>{team.goalaverage}</td>
		<td>{team.goals_scored}</td>
		<td>{team.goals_against}</td>
		<td>{team.victories}</td>
		<td>{team.draws}</td>
		<td>{team.defeats}</td>
		<td>{team.played}</td>
	</tr>
	<!-- END: team -->
</tbody>
</table>
