<table class="schedule" id="schedule-foot">
<thead>
	<tr>
		<th>Time</th>
		<th></th>
		<th colspan="3">Match</th>
		<th style="text-align: left;">Stadium</th>
		<!--th>Channel</th-->
	</tr>
</thead>

<!-- BEGIN: phase -->
<tbody>
	<tr>
		<th colspan="7">{phase}</th>
	</tr>
	<!-- BEGIN: day -->
	<tr class="subtitle">
		<td colspan="7">{day}</td>
	</tr>
	
	<!-- BEGIN: match -->
	<tr id="m-{match.id}" class="{row_class}">
		<td class="time">{match.hour}</td>
		<td class="group">{category}</td>
		<td class="team left"><span class="flag {match.team1.id}">{team1.name}</span></td>
		<td class="score">{match.team1.score} - {match.team2.score}{PSO}</td>
		<td class="team"><span class="flag {match.team2.id}">{team2.name}</span></td>
		<td>{stadium.city}</td>
		<!--td class="channel">
			<!-- BEGIN: channelLogo -->
			<img alt="{match.channel}" src="interface/img/{match.channel}.png"/>
			<!-- END: channelLogo -->
		</td-->
	</tr>
	<!-- END: match -->
	<!-- END: day -->
</tbody>
<!-- END: phase -->
</table>
