/***[Bet]*******************/
.page-bet h2 {
	padding: 0.2em;
	background-color: #9C0000;
	color: #FFFFFF;
	margin-top: 0;
}

.page-bet table.winnerCandidates {
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
}
.page-bet table.winnerCandidates th {
	padding: 3px;
	background: #333333 url("img/l0.png") top left repeat-x;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
.page-bet table.winnerCandidates td {
	padding: 0.2em 0.5em;
	width: 40%;
	border: 1px solid silver;
}
.page-bet table.winnerCandidates.selectable td {
	cursor: pointer;
}
.page-bet table.winnerCandidates.selectable td:hover {
	border-color: green;
	background-color: #33FF33;
}
.page-bet table.winnerCandidates td.selected {
	border-color: green;
	background-color: #339933;
}

.badge {
	background: radial-gradient(circle at 5px -8px, white 8%, #9C0000 19px);
	border: 2px solid #FFFFFF;
	border-radius: 12px;
	box-shadow: 1px 1px 1px #000;
	color: #FFFFFF;
	font-size: 9px;
	font-weight: bold;
	height: 13px;
	min-width: 8px;
	padding: 0 3px;
	cursor: pointer;
	position: absolute;
	right: -3px;
	text-align: center;
	top: -5px;
}

.page-bet table.friendsBets {
	border-collapse: collapse;
	margin: auto;
	width: 75%;
}

.page-bet table.friendsBets td {
	padding: 1px 2px;
}
