<table class="schedule history">
<thead>
	<tr>
		<th>Year</th>
		<th>Organizer</th>
		<th>Winner</th>
	</tr>
</thead>

<tbody>
	<!-- BEGIN: edition -->
	<tr class="{row_class}">
		<!-- BEGIN: link --><td class="time"><a href="{edition.year}">{edition.year}</a></td><!-- END: link -->
		<!-- BEGIN: noLink --><td class="time">{edition.year}</td><!-- END: noLink -->
		<td class="team"><span class="flag flag-{edition.organizerId}">{edition.organizer}</span></td>
		<td class="team"><span class="{flag} {flag}-{edition.winnerId}">{edition.winner}</span></td>
	</tr>
	<!-- END: edition -->
</tbody>
</table>
