<div class="live-match">
    <h3>Live: {match.matchTime}</h3>
    <div>
        <div class="team home">
            <span class="{flag} {flag}-{match.team1_id} left">{team1.name}</span><br/>
            <!-- BEGIN: home_goal -->
            <br/><span class="goal">{g.scorer} {g.label} {g.time}</span>
            <!-- END: home_goal -->
        </div>
        <div class="score">{match.team1_score} - {match.team2_score}</div>
        <div class="team away">
            <span class="{flag} {flag}-{match.team2_id}">{team2.name}</span><br/>
            <!-- BEGIN: away_goal -->
            <br/><span class="goal">{g.scorer} {g.label} {g.time}</span>
            <!-- END: away_goal -->
        </div>
    </div>
</div>