<p>Besides giving information on the competition (which you can find easily anywhere on the web),
this site is mainly a technological prototype. The project is hosted on github:</p>
<ul>
	<li><a href="https://github.com/sfidanza/worldcup">https://github.com/sfidanza/worldcup</a></li>
</ul>

<p>Main technical features:</p>
<ul>
	<li>javascript MVC with back/forward/reload support</li>
	<li>json data API</li>
	<li>server backend using nginx, node.js and MongoDB</li>
	<li>running in Docker container and deployed on Docker Swarm</li>
	<li>https support with grade A+ security (handled by a <a href="https://github.com/sfidanza/gateway">Traefik gateway</a>)</li>
	<li>responsive design to support different sizes from mobile to desktop versions</li>
</ul>

<p>Functional features:</p>
<ul>
	<li>List of matches, locations, date/hours (France time), with groups schedule and results</li>
	<li>Finals board with group tooltips on round of 16 (mouseover/tap to display)</li>
	<li>Highlight team matches in group (mouseover/tap on team ranking)</li>
	<li>Bet on the final winner (register/login on the site, or login with your google account)</li>
	<li>Contains multiple worldcup editions: check the <a href="#history,worldcup">History</a> to switch between editions</li>
	<li>Contains multiple <a href="#history,euro">UEFA Euro editions</a> and the latest <a href="#history,cwc">Club World Cup</a> format</li>
	<li>Calendar integration (.ics) during live competitions to get all matches and results directly in your calendar</li>
	<li>Live score during matches (using Server-sent events) for a lightweight follow up when you can't watch the game</li>
</ul>

<p>Credits:</p>
<ul>
	<li><a href="https://www.fifa.com/en/tournaments">FIFA</a></li>
	<li><a href="https://commons.wikimedia.org/wiki/Famfamfam_flag_icons">famfamfam icons</a></li>
</ul>
