<table class="ranking">
<thead>
	<tr>
		<th>Team</th>
		<th>Points</th>
		<th title="Goal Difference">Diff.</th>
		<th title="Goals Scored">GS</th>
		<th title="Goals Against" class="media-ML">GA</th>
		<th title="Won" class="media-ML">W</th>
		<th title="Draw" class="media-ML">D</th>
		<th title="Lost" class="media-ML">L</th>
		<th title="Matches played">MP</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th colspan="10">Group {group}</th>
	</tr>
	<!-- BEGIN: team -->
	<tr class="{row_class}"
	    onmouseover="page.templates.schedule.highlight('{team.id}')"
	    onmouseout="page.templates.schedule.highlight()">
		<td class="team"><span class="{flag} {flag}-{team.id}">{team.name}</span></td>
		<td>{team.points}</td>
		<td>{team.goal_difference}</td>
		<td>{team.goals_scored}</td>
		<td class="media-ML">{team.goals_against}</td>
		<td class="media-ML">{team.victories}</td>
		<td class="media-ML">{team.draws}</td>
		<td class="media-ML">{team.defeats}</td>
		<td>{team.played}</td>
	</tr>
	<!-- END: team -->
</tbody>
</table>
