<table class="schedule" id="schedule-foot">
<thead>
	<tr>
		<th>Time</th>
		<th class="media-ML"></th>
		<th colspan="3">Match</th>
		<th class="media-ML left">Stadium</th>
	</tr>
</thead>

<!-- BEGIN: phase -->
<tbody>
	<tr>
		<th colspan="7">{phase}</th>
	</tr>
	<!-- BEGIN: day -->
	<tr class="subtitle">
		<td colspan="7">{day}</td>
	</tr>
	
	<!-- BEGIN: match -->
	<tr id="m-{match.id}" class="{row_class}">
		<td class="time">{match.hour}</td>
		<td class="group media-ML">{category}</td>
		<td class="team left"><span class="{flag} {flag}-{match.team1_id}">{team1.name}</span></td>
		<td class="score">{match.team1_score} - {match.team2_score}{PSO}</td>
		<td class="team"><span class="{flag} {flag}-{match.team2_id}">{team2.name}</span></td>
		<td class="media-ML">{stadium.city}</td>
	</tr>
	<!-- END: match -->
	<!-- END: day -->
</tbody>
<!-- END: phase -->
</table>
