/***[Finals Board]**********/
.page-board .board {
	position: relative;
	height: 723px;
}
.page-board .match {
	position: absolute;
	width: 143px;
	border: 1px solid #CCCCCC;
	background-color: #F4F4F4;
	border-radius: 0 0 0.6em 0.6em;
}
.page-board .match h3 {
	margin: 0;
	padding: 1px 0;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	text-align: center;
	font-size: 100%;
	color: #444444;
}
.page-board .match.round16 h3 { background: url('img/final-lime.png'); }
.page-board .match.quarter h3 { background: url('img/final-bronze.png'); }
.page-board .match.semi    h3 { background: url('img/final-silver.png'); }
.page-board .match.final   h3 { background: url('img/final-gold.png'); }
.page-board .match.third   h3 { background: url('img/final-gold.png'); }
.page-board .match span.date {
	font-size: 85%;
}
.page-board .match .content {
	padding: 0.3em;
	text-align: center;
}
.page-board .match div.teams {
	margin-top: 0.4em;
	text-align: center;
	font-weight: bold;
}
.page-board .match div.teams .score {
	display: inline-block;
	width: 35px;
}
.page-board .match span.flag {
	display: inline-block;
	width: 25px;
	text-align: left;
}
.page-board .match span.flag.left {
	text-align: right;
}
.page-board .match div.teams .pso {
	font-size: 85%;
}
.link {
	position: absolute;
	border: 1px solid #CCCCCC;
}
.link.highlighted {
	border-width: 3px;
	border-color: #666666;
}
#match-H1A {  }
#match-H1C { top:  87px; }
#match-H1E { top:   0px; right: 0px; }
#match-H1G { top:  87px; right: 0px; }
#match-H1B { top: 560px; }
#match-H1D { top: 640px; }
#match-H1F { top: 560px; right: 0px; }
#match-H1H { top: 640px; right: 0px; }
#match-Q58 { top: 160px; }
#match-Q57 { top: 160px; right: 0; }
#match-Q59 { top: 480px; right: 0; }
#match-Q60 { top: 480px; }
#match-S61 { top: 240px; left: 80px; }
#match-S62 { top: 400px; left: 80px; }
#match-T63 { top: 320px; }
#match-F64 { top: 320px; right: 0; }
#link-Q1 { top:  65px; left:  72px; width:     0; height:  95px; }
#link-Q2 { top:  65px; left: 230px; width:     0; height:  95px; }
#link-Q3 { top: 545px; left:  72px; width:     0; height:  95px; }
#link-Q4 { top: 545px; left: 230px; width:     0; height:  95px; }
#link-S1 { top: 225px; left:  72px; width: 158px; height:  35px; border-top: none; }
#link-S2 { top: 450px; left:  72px; width: 158px; height:  35px; border-bottom: none; }
#link-F1 { top: 285px; left: 224px; width:  40px; height: 145px; border-left: none; }
#link-T1 { top: 285px; left:  40px; width:  40px; height: 145px;
           border-style: dashed; border-right: none; }

table.quickRanking {
	width: 110px;
}
