<div class="board">
<div id="link-Q1" class="link for-Q58 for-S61"></div><div id="link-Q2" class="link for-Q57 for-S61"></div>
<div id="link-Q3" class="link for-Q60 for-S62"></div><div id="link-Q4" class="link for-Q59 for-S62"></div>
<div id="link-S1" class="link for-S61"></div><div id="link-S2" class="link for-S62"></div>
<div id="link-T1" class="link"></div><div id="link-F1" class="link"></div>

<!-- BEGIN: match -->
<div class="match {class}" id="match-{match.phase}{match.id}"
     <!-- BEGIN: tooltip -->
     onmouseover="page.tooltip.showTooltip(event, page.getRankingPopup('{match.team1_source}', '{match.team2_source}'), 'centerX');"
     onmouseout="page.tooltip.hideTooltip();"
     <!-- END: tooltip -->
    >
	<h3>{category}</h3>
	<div class="content">
		<span class="date">{match.day}<br/>{match.hour}</span>
		<div class="teams">
			<span class="flag {match.team1_id} left">{team1.name}</span>
			<span class="score">{match.team1_score} - {match.team2_score}</span>
			<span class="flag {match.team2_id}">{team2.name}</span>
			<!-- BEGIN: PSO -->
			<span class="score pso">({match.team1_scorePK} - {match.team2_scorePK})</span>
			<!-- END: PSO -->
		</div>
	</div>
</div>
<!-- END: match -->
</div>
