<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<title>2014 Worldcup</title>
	<link rel="apple-touch-icon-precomposed" href="static/img/favicon-152.png">
	<link type="image/png" rel="icon" sizes="152x152" href="static/img/favicon-152.png"/>
	<link type="image/x-icon" rel="shortcut icon" href="static/img/favicon.ico"/>
	<link type="text/css" rel="stylesheet" href="static/app.mobile.min.css"/>
	<script type="text/javascript" src="static/frw.min.js"></script>
	<script type="text/javascript" src="static/app.mobile.min.js"></script>
</head>

<body>
<div id="app-pwl"></div>
<div id="global-container"></div>
</body>
</html>
